@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pete Salsbury Technical Test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Getting started
        </h2>
        <p>
            To upload the results file, please navigate to 'Results File' from the Nav Bar at the top of the screen.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Premier League Table
        </h2>
        <p>
            Once the results have been uploaded you can view the resulting Premier League table by clicking on 'League Table'
        </p> 
    </div>
    <div class="col-md-4">
        <h2>
            Team Results
        </h2>
        <p>
            Once you are viewing the table, clicking on the team name will show the results for that team.
        </p>
    </div>
</div>