<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("ImportResults", "Import")">
                    <i class="fa fa-floppy-o"></i> <span>Import Results</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Table", "Table")">
                    <i class="fa fa-table"></i> <span>League Table</span>
                </a>
            </li>
        </ul>
    </section>
</aside>